.hero-artist {
  height: 500px;
  position: relative;
  background-color: transparent;
}

.hero-artist h1 {
  color: white;
}

.hero-artist::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.pexels.com/photos/2231633/pexels-photo-2231633.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%;
  animation: parallax-move linear both;
  animation-timeline: scroll();
  animation-range: 0 800px;
  filter: brightness(50%) grayscale(0.3);
  z-index: -1;
}

@keyframes parallax-move {
  0% {
    background-position: center -100px;
  }
  100% {
    background-position: center -600px;
  }
}

.hero-artist img:first-child {
  position: absolute;
  bottom: -100px;
  left: 180px;
  z-index: 10;
  scale: 1;
  opacity: 1;
  transition: all 2s;
  filter: grayscale(1) drop-shadow(8px 2px 40px black);
  width: 500px;
}

.hero-artist img:nth-child(2):hover {
  scale: 1.1;
}

.artist-content {
  width: 30%;
  text-align: end;
  position: absolute;
  bottom: 5%;
  right: 14%;
  transition: opacity 5s;
}

.artist-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.artist-category {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding-right: 14%;
  background-color: #222;
  height: 100px;
}

.artist-content h2 {
  color: #ffc600;
  font-size: 18px;
  margin-bottom: 8px;
}

.artist-content p {
  min-height: 96px;
  color: #ffffffa4;
}

.artist-category i {
  font-size: 34px;
}
.social {
  display: flex;
  gap: 14px;
  justify-content: flex-end;
  margin-top: 20px;
}
.social i {
  font-size: 32px;
}

.artist-showcase {
  padding: 60px 20px;
  text-align: center;
  padding-bottom: 200px;
}
.artist-showcase > div {
  padding: 30px;
}
.artist-showcase h2 {
  margin-bottom: 20px;
  font-size: 48px;
  letter-spacing: 4px;
}

.artist-showcase p {
  color: #aaa;
  /* margin-bottom: 40px; */
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}
