/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.1px;
}
html {
  scroll-behavior: smooth;
}
.grenze-gotisch {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Arial", sans-serif;
  background: #111;
  color: white;
}
section,
body > div,
footer {
  background: #111;
}
/* Navbar */
header {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 10;
  /* background-color: #1111113d; */
}

header img {
  box-sizing: border-box;
  width: 200px;
  height: auto;
  filter: invert(1);
  padding: 18px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.contacts div {
  max-width: 200px;
}

.contacts .contact {
  text-align: end;
}

/* h1,h2,h3 {
  color: #ffc600;
} */

section > div:first-child p:first-child {
  color: #ffc600;
}

a {
  color: #ffc600;
}
/* .address p{
  position: relative;
  overflow: hidden;
}
.address p::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(255, 255, 255, 0.8),
               0 0 30px rgba(0, 255, 255, 0.8);
  clip-path: polygon(0% 0%, 0% 100%, 10% 100%, 10% 0%);
  animation: moveGlow 2s ease-in-out;
}

@keyframes moveGlow {
  0% {
      clip-path: polygon(0% 0%, 0% 100%, 10% 100%, 10% 0%);
  }
  50% {
      clip-path: polygon(50% 0%, 50% 100%, 60% 100%, 60% 0%);
  }
  100% {
      clip-path: polygon(100% 0%, 100% 100%, 110% 100%, 110% 0%);
  }
} */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 60px;
    /* padding: 30px 30px; */
    

}

.navbar li,
.navbar a {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1.8px;
  color: white;
  text-decoration: none;
  position: relative;
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 1px; /* дебелина на линията */
  background-color: #ffc600;
  transition: transform 0.3s ease;
  
}

.navbar a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.navbar a:hover {
  color: #ffc600;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  background: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111111b9;
}

.destination_gallery {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: slideAnimation 15s infinite;
  animation-fill-mode: forwards;
}

.gallery_img:nth-child(1) {
  animation-delay: 0s;
}

.gallery_img:nth-child(2) {
  animation-delay: 5s;
}

.gallery_img:nth-child(3) {
  animation-delay: 10s;
}

@keyframes slideAnimation {
  0% {
    opacity: 0;
  }

  17% {
    opacity: 1;
  }

  33.33% {
    opacity: 1;
  }

  66.66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.hero .hero-conten img {
  width: 240px;
  filter: invert(1);
}
.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60px;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-content h1 {
  font-size: 100px;
  margin-bottom: 0px;
}

.hero-content h4 {
  font-size: 30px;
  letter-spacing: 4px;
  /* margin-bottom: 10px; */
  color: #ffc600;
}

.hero-content p {
  max-width: 700px;
  margin-bottom: 40px;
  color:#aaa
}

.btn {
  padding: 10px 30px;
  border: 2px solid #ffc600;
  background: transparent;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background: #ffc600;
  color: black;
}

.btn.active {
  background: white;
  color: black;
}

/* Info Section */
.info {
  display: flex;
  justify-content: space-evenly;
  padding: 60px 20px;
  background: #222;
  text-align: center;
}
.info-box {
  width: 280px;
}
.info-box img {
  width: 80px;
  filter: invert(1);
}
.info-box h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.info-box p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #969696;
}

.info-box a {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.info-box a:hover {
    color: #ffc600;
    border-bottom: 1px solid #ffc600;
}

/* Showcase Section */
.showcase {
  padding: 60px 20px;
  text-align: center;
}

.showcase > div {
  padding: 30px;
}
.showcase h2 {
  margin-bottom: 20px;
  font-size: 48px;
  letter-spacing: 4px;
}

.showcase span {
  color: white;
}

.showcase p {
  color: #aaa;
  /* margin-bottom: 40px; */
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.gallery {
  columns: 4 100px;
  column-gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery img {
  width: 100%;
  margin-bottom: 16px;
  display: block;
  object-fit: cover;
}
.img-container {
  position: relative;
}

.img-container .img-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: all 0.8s ease;
}

.img-container:hover .img-title {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

/* Artists section*/

.artists {
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.artists h2 {
  margin-bottom: 20px;
  font-size: 48px;
  letter-spacing: 4px;
}

.artists > div:first-child {
  padding: 30px 30px 10px 30px;
}

.artists > div:first-child p {
  color: #aaa;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}
.artists-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  overflow: hidden;
  padding: 50px;
}

.artist {
  position: relative;
  flex: 1;
  overflow: hidden;
  transition: all 1s ease;
  cursor: pointer;
  width: 200px;
  height: 400px;
}

.artist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artist-title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  transition: all 0.8s ease;
  z-index: 1;
}
.artist-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  padding-bottom: 25px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  opacity: 0;
  min-width: 440px;
  transition: opacity 1s ease;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.info-styles {
  color: #ffc600;
  padding-bottom: 10px;
}
.artist-title:hover {
  transform: scale(1);
  top: 50px;
  background-color: transparent;
  font-size: 28px;
}

.artist-hover {
  transform: scale(1);
  top: 70px;
  background-color: transparent;
  font-size: 28px;
}
.artist:hover {
  flex: 3;
}
.artist:hover .artist-info {
  opacity: 1;
}

 .line {
  width: 100%;
  color: #ffc600;
  /* border-bottom: 1px solid #ffc600; */
  margin: auto;
  margin-top: 40px;
}

/* altar br */
.altar-br {
  display: flex;
  padding: 20px 80px;
  justify-content: center;
  align-items: center;
}

.altar-br div {
  width: 100%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.405);
  height: 0.1px;
}

.altar-br img {
  width: 140px;
  margin: 0 20px;
  filter: invert(1.5) brightness(0.3);
  /* opacity: 0.3; */
}

/* Contact section */
/* Contact section */
.contact-us {
  padding: 40px 220px 120px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.contact-us h2 {
  font-size: 48px;
}

.contact-us p {
  width: 90%;
  margin: 20px 0;
  color: #aaa;
}

.contact-us form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.contact-us form input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.511);
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  width: 90%;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #aaa;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(255, 255, 255, 0.511);
}

.container:hover input ~ .checkmark {
  background-color: #757575;
}

.container input:checked ~ .checkmark {
  background-color: #535353;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact-us button {
  width: 180px;
}

.contact-us > img {
  position: absolute;
  top: -600px;
  left: -340px;
  opacity: 0.4;
  /* transform: scaleX(-1); */
  z-index: 0;
  filter: brightness(0.5);
}

.contact-us .location {
  position: relative;
}

.contact-us .location img:first-child {
  width: 100%;
  object-fit: cover;
  filter: grayscale(1) invert(1.8);
}
.contact-us .location img:last-child {
  position: absolute;
  top: 40%;
  left: 46%;
  width: 32px;
}
/* feedback */
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background: none;
  padding: 80px 140px;
}

.feedback h2 {
  margin-bottom: 60px;
  font-size: 48px;
  letter-spacing: 4px;
}

.feedback > div:first-child p {
  color: #aaa;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

.feedback > img {
  position: fixed;
  top: -200px;
  left: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}

.feedback-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.feedback-user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.feedback-user > div {
  text-align: start;
}

.user-details p:last-child {
  color: #aaa;
  text-transform: uppercase;
}

.feedback-article > p {
  padding: 40px;
}

/* footer */

footer {
  display: flex;
  padding: 80px 10%;
  justify-content: space-around;
  background-color: #111;
  text-align: center;
  align-items: flex-start;
}
footer p {
  font-size: 18px;
  color: #aaa;
}
footer div {
  flex: 1;
}

footer div:first-child img {
  filter: invert(1);
}

footer h3 {
  text-transform: uppercase;
  font-size: 28px;
}
.footer-social {
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-social i {
  font-size: 34px;
}

footer div a {
  color: #aaa;
  font-size: 18px;
  text-decoration: none;
}

footer div a:nth-child(3) {
  border-bottom: 1px solid #969696;
}

@media (max-width: 500px) {
  .altar-br {
    padding: 20px;
  }
  .altar-br img {
    width: 100px;
  }
  .navbar {
    display: none;
  }

  .hero-content h1 {
    line-height: 1;
    margin-bottom: 28px;
  }
  .hero-content p {
    padding: 0 28px;
  }
  .info {
    flex-wrap: wrap;
    gap: 80px;
  }
  .artists > div:first-child {
    padding: 30px 0;
  }
  .artists-info {
    flex-direction: column;
    gap: 28px;
  }
  .artist {
    width: 340px;
    height: 480px !important;
    flex: none;
  }
  .artist:hover {
    flex: none;
  }
  .artist-info {
    min-width:min-content;
  }
  .contact-us {
    padding: 40px;
    flex-direction: column;
    gap: 28px;
  }
  footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
